# Spark API Mini Exercises

In [13]:
import pandas as pd
import numpy as np
import pyspark
spark = pyspark.sql.SparkSession.builder.getOrCreate()

np.random.seed(13)

Copy the code below to create a pandas dataframe with 20 rows and 3 columns:

In [14]:
pandas_dataframe = pd.DataFrame(
    {
        "n": np.random.randn(20),
        "group": np.random.choice(list("xyz"), 20),
        "abool": np.random.choice([True, False], 20),
    }
)

1. Spark Dataframe Basics

    1. Use the starter code above to create a pandas dataframe.
    1. Convert the pandas dataframe to a spark dataframe. From this point
       forward, do all of your work with the spark dataframe, not the pandas
       dataframe.
    1. Show the first 3 rows of the dataframe.
    1. Show the first 7 rows of the dataframe.
    1. View a summary of the data using `.describe`.
    1. Use `.select` to create a new dataframe with just the `n` and `abool`
       columns. View the first 5 rows of this dataframe.
    1. Use `.select` to create a new dataframe with just the `group` and `abool`
       columns. View the first 5 rows of this dataframe.
    1. Use `.select` to create a new dataframe with the `group` column and the
       `abool` column renamed to `a_boolean_value`. Show the first 3 rows of
       this dataframe.
    1. Use `.select` to create a new dataframe with the `group` column and the
       `n` column renamed to `a_numeric_value`. Show the first 6 rows of this
       dataframe.

In [15]:
# A. Use the starter code above to create a pandas dataframe.
pandas_dataframe

           n group  abool
0  -0.712391     z  False
1   0.753766     x  False
2  -0.044503     z  False
3   0.451812     y  False
4   1.345102     z  False
5   0.532338     y  False
6   1.350188     z  False
7   0.861211     x  False
8   1.478686     z   True
9  -1.045377     y   True
10 -0.788989     x  False
11 -1.261606     y  False
12  0.562847     y   True
13 -0.243326     y   True
14  0.913741     y  False
15  0.317351     x  False
16  0.127303     z  False
17  2.150383     y   True
18  0.606289     x  False
19 -0.026772     x   True

In [17]:
# B. Convert the pandas dataframe to a spark dataframe. From this point forward, 
# do all of your work with the spark dataframe, not the pandasdataframe.

df = spark.createDataFrame(pandas_dataframe)
df.show()

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|  -0.712390662050588|    z|false|
|   0.753766378659703|    x|false|
|-0.04450307833805...|    z|false|
| 0.45181233874578974|    y|false|
|  1.3451017084510097|    z|false|
|  0.5323378882945463|    y|false|
|  1.3501878997225267|    z|false|
|  0.8612113741693206|    x|false|
|  1.4786857374358966|    z| true|
| -1.0453771305385342|    y| true|
| -0.7889890249515489|    x|false|
|  -1.261605945319069|    y|false|
|  0.5628467852810314|    y| true|
|-0.24332625188556253|    y| true|
|  0.9137407048596775|    y|false|
| 0.31735092273633597|    x|false|
| 0.12730328020698067|    z|false|
|  2.1503829673811126|    y| true|
|  0.6062886568962988|    x|false|
|-0.02677164998644...|    x| true|
+--------------------+-----+-----+

In [18]:
# C. Show the first 3 rows of the dataframe.

df.show(3)

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|  -0.712390662050588|    z|false|
|   0.753766378659703|    x|false|
|-0.04450307833805...|    z|false|
+--------------------+-----+-----+
only showing top 3 rows

In [19]:
# D. Show the first 7 rows of the dataframe.

df.show(7)

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|  -0.712390662050588|    z|false|
|   0.753766378659703|    x|false|
|-0.04450307833805...|    z|false|
| 0.45181233874578974|    y|false|
|  1.3451017084510097|    z|false|
|  0.5323378882945463|    y|false|
|  1.3501878997225267|    z|false|
+--------------------+-----+-----+
only showing top 7 rows

In [21]:
# E. View a summary of the data using `.describe`.

df.describe()

DataFrame[summary: string, n: string, group: string]

In [22]:
# F. Use `.select` to create a new dataframe with just the `n` and `abool` columns. 
# View the first 5 rows of this dataframe.

df.select('n', 'abool').show(5)

+--------------------+-----+
|                   n|abool|
+--------------------+-----+
|  -0.712390662050588|false|
|   0.753766378659703|false|
|-0.04450307833805...|false|
| 0.45181233874578974|false|
|  1.3451017084510097|false|
+--------------------+-----+
only showing top 5 rows

In [23]:
# G. Use `.select` to create a new dataframe with just the `group` and `abool` columns. 
# View the first 5 rows of this dataframe.

df.select('group', 'abool').show(5)

+-----+-----+
|group|abool|
+-----+-----+
|    z|false|
|    x|false|
|    z|false|
|    y|false|
|    z|false|
+-----+-----+
only showing top 5 rows

In [25]:
# H. Use `.select` to create a new dataframe with the `group` column and the `abool` 
# column renamed to `a_boolean_value`. Show the first 3 rows of this dataframe.
col = df.abool
new_df = df.select('group', col.alias('a_boolean_value')).show(3)

+-----+---------------+
|group|a_boolean_value|
+-----+---------------+
|    z|          false|
|    x|          false|
|    z|          false|
+-----+---------------+
only showing top 3 rows

In [26]:
# I. Use `.select` to create a new dataframe with the `group` column and the `n` column 
# renamed to `a_numeric_value`. Show the first 6 rows of this dataframe.

col = df.n

newer_df = df.select('group', col.alias(a_numeric_value')).show(6)

SyntaxError: EOL while scanning string literal (<ipython-input-26-aea43c547823>, line 6)